<h3> MY PET PROFILE </h3>
<form method='POST'>
    {% csrf_token %}

    <div class="form-group">
        <label for="pet_name">펫이름</label>
        <input type="text" class="form-control" name="pet_name" id="pet_name"
        value="{{ form.pet_name.value | default_if_none:'' }}">
    </div>
    
    <div class="form-group">
        <label for="gender">성별</label><br>
        <input type="radio" id="male" name="gender" value="M">
            <label for="gender">Male</label><br>
            <input type="radio" id="female" name="gender" value="F">
            <label for="gender">Female</label><br>
        </div>
  
    <div class="form-group">
        <label for="age">나이</label>
        <input type="text" class="form-control" name="age" id="age"
        value="{{ form.age.value | default_if_none:'' }}">
    </div>
  
    <div class="form-group">
        <label for="size">분류</label>
        <select name="content">
            <option value="">  -선택- </option>
            <option value="S"> 소형견 </option>
            <option value="M"> 중형견 </option>
            <option value="L"> 대형견 </option>
        </select>
    </div>
  
    <div class="form-group">
        <label for="neutered">중성화</label><br>
        <input type="radio" id="male" name="neutered" value="Y">
            <label for="neutered">Yes</label><br>
            <input type="radio" id="female" name="neutered" value="N">
            <label for="neutered">No</label><br>
    </div>

<input type="submit" value="enroll">